* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

form {
    background-color: #ccffcc;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
}

input {
    display: block;
    margin: 20px auto;
}

button {
    background-color: #fcfcfc;
    padding: 10px;
}

p {
    margin: 20px;
}